.jumbotron {
  padding-top: 6rem;
  background-color: rgb(243, 190, 227);
}

#project {
  background-color: rgb(243, 190, 227);
}
section {
  padding-top: 6rem;
}
footer {
  background-color: rgb(243, 190, 227);
}

nav {
background-color: rgb(252, 134, 212);
}